.container {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    height: 80%;
    
}
.left {
    display: flex;
    width: 50%;
}
.left img {
    /* height: 500px; */
    width: 100%;
    min-width: 360px;
}
.right {
    width: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.right h1 {
    width: 60%;
    margin-left: 20px;
    font-size: 45px;
    color: #6c63ff;
}

/* media queries */
@media screen and (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
    }   
    .left {
        min-width: 300px;
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    .right {
        height: 50%;
        justify-content: center;
        /* align-items: flex-start; */
        width: 100%;
    }
    .right h1 {
        width: 50%;
        font-size: 30px;
    }
}