.container {
    height: 100vh;
    display: flex;
    background-color: #f7f7f7;
}
.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circle {
    height: 50px;
    width: 50px;
    border: 5px solid #6c63ff;
    border-radius: 10px;
    margin-bottom: 10px;
}
.left h1 {
    font-size: 45px;
    color: #6c63ff;
    margin-bottom: 10px;
}
.left ul {
    color: #363636;
    font-size: 20px;
    line-height: 2.5em;    
}
.left ul li {
    list-style: none;
}
.right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right img {
    width: 80%;
    min-width: 360px;
}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
    }
    .left {
        width: 100%;
        align-items: center;
        padding-left: 0px;
        height: 50%;
    }
    .left ul {
        font-size: 18px;
        line-height: 1.8em;
    }
    
    .left h1 {
        font-size: 40px;
    }
    .right {
        height: 50%;
        width: 100%;
        justify-content: center;
    }
    .right img {
        width: 50%;
    }
}