.container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    height: 20%;
}
.left {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: start;
}
.left div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left img {
    height: 40px;
    margin-right: 10px;
}
.left h3 {
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-left: 10px;
    letter-spacing: 1px;
    color: #6c63ff;
} 

/* RIGHT */
.right {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.right ul {
    font-size: 1.1rem;
    width: 100%;
    justify-content: space-around;
    list-style: none;
    display: flex;
    color: #363636;
}
.right ul li {
    margin: 0px 10px;
    cursor: pointer;
}
.right ul li:hover {
    color: #6c63ff;
}
/* menu icon */
.menuIcon {
    margin: 0;
    display: none;
    height: 25px;
    cursor: pointer;
}

/* menu */
.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    background: rgb(0, 58, 120);
    transform: translateX(280px);
    z-index: 1;
}
.menu ul {
    position: relative;
    top: 10%;
    bottom: 10%;
    font-size: 1.1rem;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: rgb(190, 221, 255);
}
.crossIcon {
    height: 25px;
    z-index: 2;
    display: none;
}


/* media queries */
@media screen and (max-width: 900px) {
    .container {
        padding: 30px;
    }
    .left h3 {
        font-size: 18px;
    }
    .left img {
        height: 25px;
    }
    /* menu icon */
    .menuIcon {
        display: block;
        height: 18px;
    }    
    .right ul {
        display: none;
    }
    .right {
        justify-items: flex-end; 
        flex: 0 1 auto;
    }
    .crossIcon {
        height: 25px;
        z-index: 2;
        display: none;
    }
}